.hero{width:700px;height:500px;margin:center}

h1{text-align:center;font-size:42px;line-height:60px;font-family: 'Poppins', sans-serif;}	

h2{font-size:17px;text-align:center; font-family: 'Poppins', sans-serif;color:grey;font-weight:normal;line-height:30px;}

h3{font-size:18px;font-weight:normal;font-family: 'Poppins', sans-serif;}

body{font-size:10px; font-family:Meta Serif; line-height:40px;font-family: 'Poppins', sans-serif;}

body{font-size:12pt;line-height:30px;}

.container { border:1px solid white; }
.main {border:2px white solid; width:700px;margin:auto;}


.sidebar2 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}

.sidebar3 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}

.sidebar4 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar5 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}.sidebar6 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar7 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar8 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar9 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar10 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar11 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar12 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar13 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar14 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
.sidebar15 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}

.sidebar16 {
    width: 70px;
    display: inline-block;
    float: left;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-size: 14px;
}
